.search-bar{
    margin:20px;
    text-align: center;
}

.search-bar input{
    width:75%;
    text-align: center;
}

.video-item img {
    max-width: 64px;
}

.video-detail .detail {
    margin-top: 10px;
    padding:10px;
    border:1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.list-group-item{
    cursor: pointer;
}

.list-group-item:hover{
    background-color:  #eee;
}
